/* -------------- App HEADER --------------*/
.App-header {
    display: flex;
    align-items: center;
    border-bottom: 4px solid crimson;
    padding-bottom: 1rem;
  }
  
  .App-header img {
    width: 20%;
    height: 20%;
  }
  
  .App-header h1 {
    margin-left: 1rem;
    color: crimson;
  }