
.Notifications {
    border: 3px dotted crimson;
    padding: 5px;
    min-height: fit-content;
    max-width: 90%;
    margin: 0.5rem auto 2rem auto;
}

li {
    color: red;
}

li[data-priority='1'] {
    color: blue;
}

